@charset "UTF-8";

html {
    font: normal 100% "Arial", sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    padding: 0;
    margin: 0 auto;
    color: #444;
    /*opacity: .9;*/ /*bad - affects also images*/
    background-color: #cddeb0;
    font-size: 0.88rem; 
}

body.reviews {
    background-color: white;
}

.main-container {
    background: white; 
    padding: 0 1em;
    overflow: hidden;
}


@media (min-width: 40em) {
    body {
        padding: 0 1em;
    }
}


@media only screen and (min-width: 46em) {
    body {
        max-width: 46em;
    }

    .main-container {
        padding: 0 2em;
        padding-bottom: 0.618em;
    }
}

ul, ol {
  /* Make left padding smaller */
  padding-left: 2.5ch;
}

p, ul, ol, td {
    line-height: 1.5rem;
}

h1, h2, h3 {
    font-weight: normal;
    color: #212121;
    margin-top: 1.1em;
    margin-bottom: 0.6em;
}

img, object {
    width: 100%;
    /*height: auto; this forces browsers recalculate the layout*/
}

/*
Responsive design rules
*/

/*
The trick with preserving aspect ratio of images, 
and let know the browser the image size before loading it is taken there:;
http://www.goldenapplewebdesign.com/responsive-aspect-ratios-with-pure-css/*/
div.stretchy-wrapper {
    position: relative;
    /* padding-bottom: set as a percentage to the width, inline or other way*/
    overflow: hidden; /* hide the content if padding-bottom is not presize */
}

/* can use the same trick for another block element either*/
div.stretchy-wrapper > div { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#logo-wrapper {
  /*logo size ratio*/
  padding-bottom: 59.69%; /* logo with the curved ugly font */
  /* padding-bottom: 45.56%; logo without the name */
}

#video-wrapper {
    /*75% = 480px/640px of the video*/
    /*56.25% = 9/16 of the video*/
    padding-bottom: 56.25%;
}


.center {
    text-align: center;
}

.shadow {
    -webkit-box-shadow:.2em .1em .3em #888;
    -moz-box-shadow:.2em .1em .3em #888;
    box-shadow:.2em .1em .3em #888;
}
.shadow-right{
    box-shadow:0.2em -0.3em .3em #888;
}

hr {
  border-width: 1px 0 0 0;
}

#association {
    font-size: 1.2em;
}

#portico {
    font-size: 1.5em;
}

.phone_number{
    font-size: 2em;
}

table {
    table-layout: fixed;
    width: 100%;
}

td {
    width: 50%;
}

table.gridtable {
    color:#333333;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    background-color: #cddeb0;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    vertical-align: top;
}

.ads {
    /*color: red;*/
    border-style: solid;
    border-color: red;
}

#iscrizione {
    width:100%; 
    border:0; 
    background-color: #cddeb0;
}

.reviews {
    font-size: 90%;
}

.review {
    clear: left;
}

div.review_photo {
    width: 10em;
    float: left;
    padding-right: 1em;
    padding-bottom: 1em;
}

div.review_photo > div {
    /*see stretchy-wrapper class*/
    padding-bottom: 100%;
}

[itemprop="reviewbody"] {
    font-style: italic;
}

.google > div.review_photo {
    width: 3em;
    padding: 0;
}

.google > [itemprop="reviewbody"] {
    margin-left: 4em;
}

iframe.reviews {
    -webkit-box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.4) inset;
}

.div-table {
    margin-bottom: 1em;
}

.div-table:after {
    content: '';
    display: table;
    clear: both;
}

.div-column {
    /*display: table-cell;*/
    float: left;
}

.div-column > .col-head {
    background-color: #cddeb0;
}

.col-head > h3 {
    margin: 0;
    padding: 0.8em;
}

.div-column p {
    padding: 0 1em;
}

.div-column a {
    text-decoration: none;
    color: inherit;
}


.col-half {
    width: 50%;
}
.col-third {
    width: 33.33%;
}
.col-fourth {
    width: 25%;
}

@media (max-width: 46em) {
    .activities-table > .div-column,
    .contacts-table > .div-column,
    .price-table > .div-column,
    .hours-table > .div-column {
        width: 100%;
        display: block;
    }

    .activities-table img {
      max-width: 30%;
      float: left;
      margin-right: 1em;
    }
}

header {
  position: sticky;
  /* Must be equal to the headers' content */
  top: -14rem;
  background-color: white;
  z-index: 1;
}

header > div:first-child {
  height: 10rem;
}

header img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

header > h1 {
  height: 2rem;
  margin-top: 0.6rem;
  margin-bottom: 1.4rem;
  font-size: 2rem;
  text-align: center;
}

.trki-table,
.price-table,
.hours-table {
    border: solid 1px gray;
}

.contacts-table {
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}

.activities-table > .div-column,
.special-courses-table .div-column,
.te-di-sabato-table .div-column {
    padding: 1em 1em 1em 1em;
}

.activities-table p,
.te-di-sabato-table p {
    padding: 0;
    margin-bottom: 0;
}

.te-di-sabato-table h3 {
    margin-top: 0;
}

.partners-table img {
    padding: 1em 1em 0 1em;
}

.activities-table > .div-column:hover, 
.partners-table > .div-column:hover, 
.te-di-sabato-table > .div-column:hover, 
.special-courses-table > .div-column:hover {
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.svg-icon {
    width: 2em;
    margin-right: 0.5em;
    vertical-align: middle;
}

.course-description > img {
    float: left;
    width: 10em;
    margin: 0 2em 1em 0;
}

.authors {
    font-style: italic;
    color: gray;
    display: block;
}

/* Menu  */
.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
}

ul.menu li {
    display: block;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

ul.menu a {
    display: block;
    padding: 1rem 0;
    color: inherit;
    text-decoration: none;
}

ul.menu li {
  width: 12.5%; /* 100 / 8 menu items */
}

ul#level-buttons {
  list-style: none;
  display: flex;
  padding: 0;
  font-size: larger;
}

ul#level-buttons > li {
  display: inline-block;
  padding: 1rem 0;
  cursor: pointer;
  text-align: center;
  flex-grow: 1;
}

ul#level-buttons > li:not(:first-child) {
  margin-left: .5rem;
}

#level-buttons > li.selected,
ul#level-buttons > li:hover {
  background-color: #cddeb0;
}

.contacts {
  /* Make an accent with border */
  padding-left: 0.618em;
  border-left: solid 1em rgba(0, 0, 0, 0.1);
  margin-top: 1em;
}

@media (min-width: 40em) {
  /* Show in one raw with some space */
  .contacts {
    display: flex;
    padding: 1em 0;
  }
}

p.contact {
  margin: 0;
  display: flex;
  margin-right: 1em;
}

.contact > a {
  color: inherit;
  text-decoration: none;
  padding: .68em;
  /* flex related */
  display: flex;
  flex-flow: row;
  align-items: center;
}

.contact.phone  svg {
  margin-right: 0.618em;
}
.social-networks > a {
  padding-right: 0.618em;
}

/* It's related to the menu so is placed here */
html {
    scroll-padding-top: 4rem; /* Offset for ancors, equal to the menu height */
}

mark {
  /* display: inline-block; */
  /* line-height: 0em; */
  /* padding-bottom: .6em; */
  border-radius: 1em 0;
  padding: 0 .1em;
  /* background-color: #ffe359; */
  background-color: rgba(204, 255, 0, 1); /* green */
}

@media (max-width: 46em) {
  html {
    scroll-padding-top: 8rem;
  }
  ul.menu li {
    width: 25%;
  }
}

ul.menu li.selected,
ul.menu li:hover {
    background-color: #cddeb0;
    cursor: pointer; /*for menu without <a> tag*/
}


input[type=submit] {
    height:2em;
    min-width:5em;
}

/* Slideshow */

.slick-arrow {
    z-index: 1001;
    width: 80px;
    height: 100%;
}
.slick-arrow:hover {
}
.slideshow {
    /*margin-left: 40px;*/
    /*margin-right: 40px;*/
    /*margin-top: 1em;*/
}
.slick-slide {
    /* 520 / (640 / 480) = 420 */
    /*min-height: 40px;*/
}
.slick-arrow:before {
    color: black;
}
.slick-prev
{
    left: -8px;
    text-align: left;
}
.slick-next {
    right: -8px;
    text-align: right;
}

@media (min-width: 46em) {
    .slick-prev {
        left: -24px;
    }
    .slick-next {
        right: -24px;
    }
}


.slick-frame {
    padding-bottom: 75%;
    position: relative;
    margin: 2px;
}
.slick-frame img {
    max-width:100%;
    max-height:100%;
    width: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.error {
  /* 
    #b60000 is red which passes the test:
    https://webaim.org/resources/contrastchecker/ 
  */
  color: #b60000;
  /* color: red; */
}

.block-image {
  color: gray;
  font-size: smaller;
}

.block-image a {
  color: inherit;
}
