### HEADERS, CACHING AND OPTIMIZATION
#      300   5 m
#     2700  45 m
#     3600   1 H
#    54000  15 H
#    86400   1 D
#   518400   6 D
#   604800   1 W
#  1814400   3 W
#  2419200   1 M
# 26611200  11 M
# 29030400   1 Y (never expire)



## ALTERNATE EXPIRES CACHING

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault A86400
	ExpiresByType image/jpg A29030400
	ExpiresByType image/jpeg A29030400
	ExpiresByType application/x-javascript A2419200
	ExpiresByType text/css A2419200
	ExpiresActive Off
</IfModule>

# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>
